{% extends "base.html" %}

{% block page_styles %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Users</h3>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
        <a href="{% url 'accounts:add_user_url' %}" class="btn btn-primary btn-round ms-auto" id="openAddUserPage">Add User</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="basic-datatables display table soft-table">
                        <thead>
                            <tr>
                                <th>Added On</th>
                                <th>Company</th>
                                <th>Name</th>
                                <th>Plan</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr onclick="window.location.href='{% url 'accounts:user_profile_url' user.id %}'" style="cursor:pointer;">
                                <td data-order="{{ user.date_joined|date:"Y-m-d" }}">{{ user.date_joined|date:"d M, Y" }}</td>
                                <td>{% if user.client_profile.company.name %}
                                        {{ user.client_profile.company.name }}
                                    {% else %}
                                        <span class="badge bg-secondary">Individual</span>
                                    {% endif %}
                                </td>
                                <td>{{ user.client_profile.user.get_full_name }}
                                    <div class="text-muted small">{{ user.email }}</div>
                                </td>
                                <td>
                                    {{ user.client_profile.plan }}
                                </td>
                                <td>
                                    {% if user.client_profile.city or user.client_profile.state or user.client_profile.country %}
                                    {{ user.client_profile.city }}{% if user.client_profile.city and user.client_profile.state %},{% endif %}
                                    {{ user.client_profile.state }}{% if user.client_profile.state and user.client_profile.country %},{% endif %}
                                    {{ user.client_profile.country }}
                                    {% else %}
                                    <span class="text-muted small">No location</span>
                                    {% endif %}
                                </td>
                                <td>{% if user.client_profile.user.is_active %}Active{% else %}Inactive{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script>
    
</script>
{% endblock %}